XML/c4_1008.dtd

<?xml version="1.0" encoding="euc-kr"?>


<!ELEMENT booklist (book*) >
    <!ELEMENT book (title, author, publisher) >
        <!ELEMENT title (#PCDATA) >
        <!ELEMENT author (#PCDATA|name)* >
            <!ELEMENT name (#PCDATA) >
        <!ELEMENT publisher (#PCDATA) >
        <!ELEMENT image EMPTY >
