XML/c6_1601.xsd

<?xml version="1.0" encoding="euc-kr"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified" targetNamespace="http://www.mincheol.com/pml"
    xmlns="http://www.mincheol.com/pml">
    
    <xsd:element name="publisher" type="ctPublisher"/>
        
     
    <xsd:complexType name="ctPublisher">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="tel" type="xsd:string" />
            <xsd:element name="address" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    
 
    
    
    
    
</xsd:schema>
