xml_two/bml.dtd

<?xml version="1.0" encoding="EUC-KR"?>


<!ELEMENT booklist (book)* >
        <!ELEMENT book (title, author, publisher, price) >
        <!ELEMENT title (#PCDATA) >
        <!ELEMENT author (#PCDATA) >
        <!ELEMENT publisher (#PCDATA) >
        <!ELEMENT price (#PCDATA) >
        
<!ATTLIST book 
        kind (컴퓨터|소설|언어) #REQUIRED>
        